// Legacy

// Variables
$gutter-width: 24px;
$column-width: 48px; // Workaround for fixed gutters. Can be any number.

// Fixed Gutters
$susy: (
	columns: 12,
  global-box-sizing: border-box,
  gutter-position: inside-static,
  container: 1000px,
  column-width: $column-width,
  gutters: $gutter-width / $column-width
);


.content {
	@include container;
	padding-left: $gutter-width/2;
	padding-right: $gutter-width/2;
	padding-top: $gutter-width;
}

%card {
	margin-bottom: $gutter-width;
}

%card__inner {
	background-color: rgba(255, 0, 0, 0.06);
	display: block;
}


%card__inner {
	background-color: rgba(255, 0, 0, 0.06);
	display: block;
}

.dashrow {
	@include susy-breakpoint($bp-large, $susy) {
  	height: 352px;
		overflow: hidden;
		margin-bottom: gutter(6);
  }
}

.card-6 {
	@extend %card;
	@include span(12);
	@include susy-breakpoint($bp-large, $susy) {
    @include span(6);
  }
}

.card-3 {
	@extend %card;
	@include span(6);
	@include susy-breakpoint($bp-large, $susy) {
    @include span(3);
  }
}

.card-6__6x6 {
	@extend %card__inner;
	height: 352px;
}

.card-6__6x4 {
	@extend %card__inner;
	height: 208px
}

.card-3__3x3 {
	@extend %card__inner;
	height: 224px;
}

.card-3__3x2 {
	@extend %card__inner;
	//height: 120px;
	height: 131px
}

.test {
	@include span(1);
}

.test__item {
	background-color: rgba(255, 0, 0, 0.06);
	display: block;
	height: 100vh;
	margin-bottom: $gutter-width;
}


<div class="dashrow">
	<div class="card-6x6">1</div>
	<div class="card-6x4">2</div>
	<div class="card-3x2">3</div>
	<div class="card-3x2">4</div>
</div>
<div class="card-3x3">5</div>
<div class="card-3x3">6</div>
<div class="card-3x3">7</div>
<div class="card-3x3">8</div>