// ----------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------


$black      : #2a2a2a;

$dark-gray  : #333;

$light-gray : #797979;

$yellow     : #f9d300;

$white      : #fff;

$off-white  : #f9f9f9;