/*
 * Grid
 */

// set susy defaults
$susy: (
	math: fluid,
	columns: 12, 
	container: 1200px,
	//column-width: 60px,
	gutters: .3,
	gutter-position: split,
	global-box-sizing: border-box,
	//debug: (image: show-columns)
	);

.content {
	@include container;
	@include gutters(inside);
}

.test { 
	@include span(1);
	height: 100vh; 
	background-color: rgba(255, 0, 0, 0.06);
}

