// ----------------------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------------------

@import "colors.scss";

// Type

$baseFontSize       : 16;
$baseLineHeight     : 1.5;
$leading            : $baseLineHeight * 1rem;
$unit               : $leading;
$scale              : 1.414;
$sans-serif         : 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$serif              : 'Cambria', 'Georgia', 'serif';
$font-family        : 'Proxima Nova', $sans-serif;
$header-font-family : $sans-serif;

// Breakpoints
$bp-small  : 480px;
$bp-medium : 750px;
$bp-large  : 990px;

// header size
$header-small: 50px;
$header-large: 50px;

//sidebar size
$sidebar-small: 100px;
$sidebar-large: 180px;

// footer size
$footer-height: 30px;

// Misc
$radius: 3px;

// declare Font-Awesome location
$fa-font-path: "../font/font-awesome" !default;
