.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mobile-only {
  @include bp(medium) {
    display: none;
  }
}