// Variables

/*
 * Dashboard
 */
 
%card {
	margin-bottom: gutter(6);
	background-color: rgba(255, 0, 0, 0.06);
}

%card__inner {
	background-color: rgba(255, 0, 0, 0.06);
	display: block;
}

.card-6 {
	@extend %card;
	@include span(12);
	@include susy-breakpoint($bp-large, $susy) {
    @include span(6);
  }
}

.card-3 {
	@extend %card;
	@include span(6);
	@include susy-breakpoint($bp-large, $susy) {
		@include span(3);
	}
}

.card-6x6 {
	@extend .card-6;
	height: 352px;
}

.card-6x4 {
	@extend .card-6;
	height: 208px;
}

.card-3x2 {
	@extend .card-3;
	height: 131px;
}

.card-3x3 {
	@extend .card-3;
	height: 224px;
}
