// ----------------------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Dashboard
// ----------------------------------------------------------------------------------------

.dashboard {
  @include container;
  padding: gutter(6) gutter() 0;
}