/*
 * z-index
 */

$z-index: (
	bury:								-1,
	content:						10,
  mobilenav:          15,
  header:							20,
  sidebar:						30,
  modal:							40,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}