footer {
  height: $footer-height;
  line-height: $footer-height;
  background-color: #ffffff;
  padding: 0 20px;
  left: 0;
  bottom: 0;
  text-align: center;
  @include bp(medium) {
    margin-left: 100px;
  }
  @include bp(large) {
    margin-left: 200px;
  }
}