// ----------------------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------------------


.top {
  height: $header-small;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
  @include z-index(header);
  @include bp(medium) {
    height: $header-large;
    padding: 0 $gutter;
    margin-left: $sidebar-small;
    width: calc(100% - #{$sidebar-small});
  }
  @include bp(large) {
    margin-left: $sidebar-large;
    width: calc(100% - #{$sidebar-large});
  }
}

.addrecipe__button {
  padding: 10px 30px;
  border: none;
  border-radius: $radius;
  background-color: $yellow;
  color: $white;
  transition: background-color .2s ease;
  &:hover {
    background-color: lighten($yellow, 5%);
  }
  width: 90%;
  margin: 20px 5%;
  @include bp(medium) {
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @include bp(large) {

  }
}

.top-nav {
  display: block;
  float: right;
}

.top-nav__menu {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
  @include bp(medium) {
  }
}

.top-nav__item {
  @include bp(medium) {
    float: left;
    padding-left: 30px;
  }
}

.top-nav__link {
  display: block;
  padding: 10px 5%;
  text-decoration: none;
  color: white;
  @include bp(medium) {
    display: inline-block;
    color: black;
    padding: 0;
  }
  @include bp(large) {
  }
}

.top-nav__title {
  padding: 10px 5% 0;
  border-bottom: none;
}

.top-notification {
  @include bp(medium) {
    position: relative;
    padding: 0;
    font-size: 16px;
    float: right;
  }
}

.top-notification__icon {
  line-height: 30px;
  margin: 10px 0;
  font-size: 24px;
  color: #5f5f5f;
}

.top-notification__badge {
  position:absolute;
  top: 6px;
  right: -6px;
  font-size: 11px;
  background: #FF5F5F;
  color: #fff;
  width:16px;height:16px;
  text-align:center;
  line-height:16px;
  border-radius:50%;
}

.top-user {
  padding: 10px 0;
}

.top-user__name {
  color: $dark-gray;
  font-size: 18px;
  margin-right: 2px;
  vertical-align: middle;
}

.top-user__photo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.top-user__icon {
  vertical-align: middle;
  font-size: 10px;
  color: $dark-gray;
  position: relative;
  top: 2px;
}

.top-dropdown {
  display: none;
  position: relative;
  background-color: $white;
  top: $header-large + 15px;
  left: 10px;
  padding: 0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: $dark-gray;
}

.top-dropdown.top-dropdown--active {
  display: block;
}

.top-dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #f6f6f6 transparent;
}

.top-dropdown:after {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  top: -5px;
  right: 15px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  z-index: -99;
}

.top-dropdown__title {
  background-color: #f6f6f6;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.top-dropdown__item {
  font-size: 16px;
  padding: 0 24px;
  a {
    text-decoration: none;
    color: #333333;
    display: block;
    border-bottom: solid 1px #e6e6e6;
    padding: 12px 0;
  }
  &:last-child a {
    border-bottom: 0px transparent;
  }
  &:hover {
    background-color: lighten($yellow, 25%);
  }
}

// Navigation Trigger on Mobile

.nav-trigger {
  position: relative;
  float: right;
  width: 35px;
  height: 40px;
  margin-right: 5%;
  // (hide text)
  overflow: hidden;
  white-space: nowrap;
  color: transparent;

  // CSS hamburger menu
  span, 
  span::before, 
  span::after {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: red;
  }

  // center hamburger line
  span {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    transition: background .2s;
  }

  // top and bottom hamburger line
  span::before, 
  span::after {
    content: '';
    right: 0;
    transform-origin: 0% 50%;
    transition: transform 0.2s;

    // Force Hardware Acceleration in WebKit
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  // Top Line
  span::before {
    top: -6px;
  }

  // Bottom line
  span::after {
    top: 6px;
  }
  
  // hide on anything larger than mobile
  @include bp(medium) {
    display: none;
  }
}

.nav-trigger--visible {
  // hide center line
  span {
    background: rgba(red, 0);
  }
  // don't hide other 2 lines
  span::before, 
  span::after {
    background: rgba(red, 1);
  }
  // nifty animation
  span::before {
    transform: translateX(4px) translateY(-3px) rotate(45deg);
  }
  span::after {
    transform: translateX(4px) translateY(2px) rotate(-45deg);
  }
}