// Main Variables

//// $sidebar-width -> _sidebar.scss
//// $header-height -> _header.scss\

/*
 * Main
 */

.main {
	margin-top: $header-height;
	margin-left: $sidebar-width;
	@include z-index(main);
}

.content {}