// ----------------------------------------------------------------------------------------
// Sidebar
// ----------------------------------------------------------------------------------------



.side-nav {
  background-color: $dark-gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $header-small 0 0;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  @include z-index(mobilenav);

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include bp(medium) {
    position: fixed;
    width: $sidebar-small;
    min-height: 100vh;
    float: left;
    opacity: 1;
    overflow-y: scroll;
    padding: 0;
    @include z-index(sidebar);
  }
  @include bp(large) {
    width: $sidebar-large;
  }
}

.side-nav--visible {
  position: fixed;
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}

.side-nav__top {
  display: none;
  @include bp(medium) {
    display: block;
    width: 100%;
    background-color: $black;
    margin-bottom: 40px;
  }
}

.logo {
  display: none;
  max-width: 100%;
  img { 
    width: 100%;
  }
  @include bp(medium) {
    display: inline-block;
    padding: 1em;
  }
  @include bp(large) {
    padding: 2em;
  }
}

.side-nav__title {
  padding: 15px 5% 0;
  @include bp(medium) {
    padding: 0;
  }
}

.side-nav__title--main {
  @include bp(medium) {
    display: none;
  }
  @include bp(large) {
    display: block;
    padding: 0 0 0 20px;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 20px;
    color: #797979;
    font-weight: 700;
    letter-spacing: .5px;
  }
}

.side-nav__title--admin {
  @include bp(medium) {
    display: none;
  }
}

.side-nav__item {
  padding: 1em;
  border-bottom: 1px solid #4D545F;
  &:last-child, 
  &:first-child {
    border-bottom: none;
  }

  @include bp(medium) {
    border-bottom: none;
    line-height: 2rem;
    padding: 15px 0 5px;
    //transition: background-color .2s ease;
    &:hover {
      background-color: $black;
    }
  }
  @include bp(large) {
    padding: 0 0 0 20px;
    line-height: $unit * 2;
  }
}

.side-nav__item--active {
  background-color: $black;
  @include bp(medium) {
    box-shadow: inset 3px 0px 0px 0px $yellow;
    > .side-nav__link {
      color: $white;
    }
  }
  @include bp(large) {
    box-shadow: inset 4px 0px 0px 0px $yellow;
  }
}

.side-nav__link {
  text-decoration: none;
  color: $light-gray;
  font-size: 14px;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  @include bp(medium) {
    display: block;
    border-bottom: none;
    text-align: center;
    font-size: 11px;
  }
  @include bp(large) {
    text-align: left;
    font-size: 12px;
  }
}


.side-nav__icon {
  width: 1.28571429em;
  padding-right: 5px;
  @include bp(medium) {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px !important;
    padding: 0;
  }
  @include bp(large) {
    //width: 1.28571429em;
    padding-right: 15px;
    display: inline-block;
    width: auto;
    vertical-align: sub;

  }

}

.side-nav__bottom {
  display: none;
  @include bp(medium) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: $unit;
    text-align: center;
    width: $sidebar-small;
    background-color: $black;
    a {
      text-decoration: none;
      color: $light-gray;
      font-size: 10px;
      line-height: $unit;
    }
  }
  @include bp(large) {
    width: $sidebar-large;
  }
}