<template name="appSideNav">
  <nav class="side-nav">
    <div class="side-nav__top">
      <a href="#" class="logo"><img src="/images/logo.svg" alt="Logo" /></a>
    </div>
    <ul>
      <li class="side-nav__title side-nav__title--main">Menu</li>
      <li class="side-nav__item {{isActiveRoute 'dashboard' class='side-nav__item--active'}}"><a class="side-nav__link" href="/"><i class="nc-icon-glyph ui-1_dashboard-30 side-nav__icon"></i>Dashboard</a></li>
      <li class="side-nav__item {{isActiveRoute 'recipe' class='side-nav__item--active'}}"><a class="side-nav__link" href="/add-recipe"><i class="nc-icon-outline design_book-open side-nav__icon "></i>Recipes</a></li>
      <li class="side-nav__item {{isActiveRoute 'equipment' class='side-nav__item--active'}}"><a class="side-nav__link" href="#"><i class="nc-icon-outline food_measuring-cup side-nav__icon "></i>Equipment</a></li>
      <li class="side-nav__item {{isActiveRoute 'tools' class='side-nav__item--active'}}"><a class="side-nav__link" href="#"><i class="nc-icon-outline business_calculator side-nav__icon"></i>Tools</a></li>
      <li class="side-nav__item {{isActiveRoute 'ingredients' class='side-nav__item--active'}}"><a class="side-nav__link" href="#"><i class="nc-icon-outline shopping_bag-17 side-nav__icon "></i>Ingredients</a></li>
      <li class="side-nav__item {{isActiveRoute 'brewDay' class='side-nav__item--active'}}"><a class="side-nav__link" href="#"><i class="nc-icon-outline food_beer-95 side-nav__icon "></i>Brew Day</a></li>
    </ul>
    <div class="side-nav__bottom">
      <span><a href="#">Dapper 0.1</a></span>
    </div>
  </nav>
</template>